# Google Colab test

<a href="https://colab.research.google.com/github/bcjack12/public/blob/main/colab/john.ipynb" target="_parent\"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

In [17]:
#<a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb"> <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:

#<a href="https://colab.research.google.com/github/stared/thinking-in-tensors-writing-in-pytorch/blob/master/2%20Gradient%20Descent.ipynb" target="_parent\"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
%load_ext google.colab.data_table
#%unload_ext google.colab.data_table

ModuleNotFoundError: No module named 'google.colab'

In [3]:
import pandas as pd

import numpy as np

 

#df = pd.read_csv (r'/home/Book3.csv')

#df =df.pivot(index='Name',columns='Age',values='Colour')

#df.drop_duplicates(subset=['Age','Name','Colour'],keep='first',inplace=True)

#df

df = pd.DataFrame({'Name':('Jack.Lee','James.Lee','John.Lee','Joe.Lee','Pat.Lee','Jack.Lee','Jack.Lee','Pat.Lee','John.Lee','Joe.Lee','Pat.Lee','Jack.Lee','Jack.Lee','Pat.Lee','John.Lee','James.Lee','Joe.Lee','Jack.Lee','Pat.Lee','James.Lee','Joe.Lee','John.Lee'),

                   'Age':('25','26','27','28','29','27','30','25','25','26','27','28','29','30','24','24','24','24','24','25','25','26'),

                   'Colour':('Blue','Black','Red','Green','Purple','Red','Black','Black','Green','Purple','Red','Black','Black','Purple','Black','Red','Green','Purple','Red','Black','Black','Blue')})

df1 = df.pivot_table(index='Name',columns='Age',values='Colour',aggfunc='first')

df1.columns.name = None

df1.reset_index(inplace=True)

df1[['First','Last']] = df1.Name.str.split(".",expand=True,)

df1.drop(columns='Name',inplace=True)

cols_to_move = ['First', 'Last']

df1           = df1[ cols_to_move + [ col for col in df1.columns if col not in cols_to_move ] ]

df1['Missing']=(df1.count(axis=1))-2

cols_to_3rd = ['Missing']

df1           = df1[ cols_to_move + cols_to_3rd + [ col

                                                   for col in df1.columns

                                                      if ((col not in cols_to_move) and (col not in cols_to_3rd))] ]

#grand = df1.apply(lambda x: df1.count(),axis=1) #works but displays as df

#df1.replace(np.nan, '', regex=True,inplace=True)

In [4]:
df1.to_csv('temp.csv')

In [5]:
df1

   First Last  Missing      24     25      26   27     28      29      30
0   Jack  Lee        6  Purple   Blue     NaN  Red  Black   Black   Black
1  James  Lee        3     Red  Black   Black  NaN    NaN     NaN     NaN
2    Joe  Lee        4   Green  Black  Purple  NaN  Green     NaN     NaN
3   John  Lee        4   Black  Green    Blue  Red    NaN     NaN     NaN
4    Pat  Lee        5     Red  Black     NaN  Red    NaN  Purple  Purple

In [6]:
list_count = ['','',''] + list(df1.count()[3:])
list_count

['', '', '', 5, 5, 3, 3, 2, 2, 2]

In [7]:
df1.values.tolist()

[['Jack', 'Lee', 6, 'Purple', 'Blue', nan, 'Red', 'Black', 'Black', 'Black'],
 ['James', 'Lee', 3, 'Red', 'Black', 'Black', nan, nan, nan, nan],
 ['Joe', 'Lee', 4, 'Green', 'Black', 'Purple', nan, 'Green', nan, nan],
 ['John', 'Lee', 4, 'Black', 'Green', 'Blue', 'Red', nan, nan, nan],
 ['Pat', 'Lee', 5, 'Red', 'Black', nan, 'Red', nan, 'Purple', 'Purple']]

In [8]:
list(df1.columns)

['First', 'Last', 'Missing', '24', '25', '26', '27', '28', '29', '30']

In [9]:
l = df1.values.tolist()
l.insert(0, list(df1.columns))
l

[['First', 'Last', 'Missing', '24', '25', '26', '27', '28', '29', '30'],
 ['Jack', 'Lee', 6, 'Purple', 'Blue', nan, 'Red', 'Black', 'Black', 'Black'],
 ['James', 'Lee', 3, 'Red', 'Black', 'Black', nan, nan, nan, nan],
 ['Joe', 'Lee', 4, 'Green', 'Black', 'Purple', nan, 'Green', nan, nan],
 ['John', 'Lee', 4, 'Black', 'Green', 'Blue', 'Red', nan, nan, nan],
 ['Pat', 'Lee', 5, 'Red', 'Black', nan, 'Red', nan, 'Purple', 'Purple']]

In [10]:
sales = l
labels = list_count
df = pd.DataFrame.from_records(sales, columns=labels)
df.to_csv('temp.csv')
df

                              5      5       3    3      2       2       2
0  First  Last  Missing      24     25      26   27     28      29      30
1   Jack   Lee        6  Purple   Blue     NaN  Red  Black   Black   Black
2  James   Lee        3     Red  Black   Black  NaN    NaN     NaN     NaN
3    Joe   Lee        4   Green  Black  Purple  NaN  Green     NaN     NaN
4   John   Lee        4   Black  Green    Blue  Red    NaN     NaN     NaN
5    Pat   Lee        5     Red  Black     NaN  Red    NaN  Purple  Purple